
<div class="container-fluid">
  <h2 class="row glitch" data-text="hello, And welcome bAck to the internet">hello, and welcome back to the internet</h2>

  <h3 class="row justify-content-md-center postgreeting">You have reached the personal website of</h3>
  <div class="container myname">
    <div class="row justify-content-md-center firstname">SEAN</div>
    <div class="row justify-content-md-center lastname">BURK</div>
  </div>

  <div>
    <div class="container-fluid postname">they're not home right now but you can leave a message and they'll get back to you as soon as possible :)</div>

    <div class="container-fluid socialmediabar">
      <a href="https://www.github.com/SeanBurk86"><i class="fa-brands fa-github fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/sean-burk-309939149/"><i class="fa-brands fa-linkedin fa-lg"></i></a>
      <a href="https://swansoft.itch.io/"><i class="fa-brands fa-itch-io fa-lg"></i></a>
      <a href="https://www.twitch.tv/swangone"><i class="fa-brands fa-twitch fa-lg"></i></a>
      <a href="https://twitter.com/cowboyangeltwit"><i class="fa-brands fa-twitter fa-lg"></i></a>
      <a href="https://www.youtube.com/channel/UCWpLyA76DmCcU6zDYW5uA_g"><i class="fa-brands fa-youtube fa-lg"></i></a>
      <a href="https://greathairrecords.bandcamp.com/album/last-years-paper-fan-a-night-with-a-clear-moon"><i class="fa-brands fa-bandcamp fa-lg"></i></a>
    </div>

    <div class="container-fluid ticker-wrap">
      <div class="ticker">
        <div class="ticker__item">Sean Burk is a</div>
        <div class="ticker__item">Musician</div>
        <div class="ticker__item">Programmer</div>
        <div class="ticker__item">Game Dev</div>
        <div class="ticker__item">Sound Designer</div>
        <div class="ticker__item">Web Developer</div>
        <div class="ticker__item">Filmmaker</div>
        <div class="ticker__item">Performance Artist</div>
        <div class="ticker__item">Painter</div>
        <div class="ticker__item">Poet</div>
        <div class="ticker__item">Wild Animal Enthusiast</div>
        <div class="ticker__item">Kitchen Wizard</div>
        <div class="ticker__item">Hot Stepper</div>
        <div class="ticker__item">Soft Drink Aficionado</div>
        <div class="ticker__item">... and a human just trying their best in this crazy mixed-up world</div>
      </div>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
